- var kinks = ["Deep Throating", "Knife Play", "Tickling", "Hair Pulling", "Choking", "Gags", "Overstimulation", "Consensual Non Consent", "Wax Play", "Water Sports", "Spanking", "Needle Play", "Smoking", "Threesomes", "Humuliation Degradation", "Spit", "Role Play", "Pet Play", "DDLG", "Orgasm Denial", "Nylon", "Voyeurism", "Anal", "Findom", "Tying People Up", "Being Tied Up", "Feet", "Breeding"];

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Jar Of Kinks
        link(rel="stylesheet", href="index.css")
    body
        main
            header 
                h1 Jar Of Kinks
                h2 (Leave a clean copy)
                h3 @NIHILIST PEACH
            
            #kinks
                each kink in kinks
                    .kink(id=kink)
                        .jar
                            img(src="assets/jar_background.png")
                            .value
                        span= kink
            
            h3#link Interactive version from 
                a(href="https://isitdeba.github.io/jar-of-kinks/") https://isitdeba.github.io/jar-of-kinks/
        hr

        footer
            button#share Get shareable image
            br
            div
                img#render
                img(src="assets/original_jar_of_kinks.jpg" alt="The original jar of kinks")
        
        script(src="vendor/jquery-3.6.3.min.js")
        script(src="vendor/html2canvas.min.js")
        script var kinks = !{JSON.stringify(kinks)}
        script(src="index.js") 
