body {
    font-family: 'Noto Serif JP', serif;
    src: url('vendor/Noto_Serif_JP/NotoSerifJP-SemiBold.otf') format('opentype'),
         url('vendor/Noto_Serif_JP/NotoSerifJP-Bold.otf') format('opentype'),
         url('vendor/Noto_Serif_JP/NotoSerifJP-Black.otf') format('opentype');
    font-weight: 700;
    text-align: center;

}

#container {
    width: 80vw;
    margin: auto;
}

h1, h2, h3 {
    margin: 0;
}
h2, h3 {
    margin-bottom: 20px;
}
#kinks {
    margin-bottom: 15px;
}
h1 {
    font-weight: 900;
    font-size: 80px;
}
h2 {
    font-size: 40px;
    font-weight: 600;
}
h3, .kink span {
    font-size: 20px;
}

#kinks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.kink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.kink * {
    cursor: pointer;
}

.jar {
    position: relative;
}
.jar img {
    position: relative;
    z-index: 5;
}

.jar .value {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;
    z-index: 1;
    max-height: 90%;

}

.jar .value {
    transition-property: height, background-color;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

.no {
    height: 0%;
    background-color: white;
}

.maybe {
    height: 30%;
    background-color: brown;
}

.yes {
    height: 60%;
    background-color: darkorange;
}

.YES {
    height: 90%;
    background-color: greenyellow;
}

footer button {

}

footer div {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
footer div img {
    width: 40%;
}